<div class=" m-5 bg-rose-200">
    <p class="ml-5 my-5">Add Article</p>
    <form  class="flex flex-col m-5" action="#">
        <label for="title">Titre article : </label>
        <input class="bg-white w-32" type="text" name="title" id="title" [(ngModel)]="title">
        <label for="content">Contenu article : </label>
        <input class="bg-white w-96" type="text" name="content" id="content" [(ngModel)]="content">

        <div class="m-5">
            <button (click)="recuperationArticle()"  type="submit" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-1.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 w-48 ">Ajouter Article</button>        
            <button type="button" class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-1.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800 w-48">Ajouter brouillon</button>
        </div>
    </form>

</div>
