<h1>ListFriends component (Bind) + conditionnal rendering (*ngif)</h1>
<input (keyup)="capterEvent($event)" type="text" placeholder="Rechercher un ami..">
<button (click)="ajouterAmi()"  class=" cursor-pointer  m-5 btn-primary">
Ajouter ami
</button>
<!-- <p class="mx-4">{{dataInput}}</p> -->
<p class="mx-4 text-black-500" *ngIf="message;else elseBlock">{{dataInput}}</p>
<ng-template #elseBlock>
    <p class="mx-4 text-green-500">Utilisateur {{dataInput}} ajouté avec succès</p>
</ng-template>
<div *ngFor="let friend of listFriendsTab">
<app-one-friend></app-one-friend>
</div>


