<div class="w-96 m-4 p-4 bg-blue-200 flex flex-col">
    <img  class="w-48 h-48 item-center" [src]=uneData alt="Photo de profil">
    <h2>{{Utilisateur}}</h2>
    <h3>status: {{Status}}</h3>
    <p>Age : {{getAge()}}</p>
    <p>Bio : {{Bio}}</p>
    <span>_______________________________________________________</span>
    <h4>Les passions de Steven</h4>
    <ul>
        <li>{{passion[0]}}</li>
        <li>{{passion[1]}}</li>
        <li>{{passion[2]}}</li>
</ul>
<span>_______________________________________________________</span>
<p>Réputation : {{ResultReputation}}</p>
<span>_______________________________________________________</span>
<p>Xss ? {{Xss}}</p>
</div>
