<div class="container mx-auto my-4 px-4">
    <h1 class="text-center text-2xl font-bold">Plants List</h1>
  
    <!-- Loading Indicator -->
    <div *ngIf="isLoading" class="text-center mt-4">
      <div class="animate-spin rounded-full h-10 w-10 border-t-4 border-blue-500 border-solid"></div>
    </div>
  

    <!-- Pokémon Grid -->
    <div *ngIf="!isLoading && !errorMessage" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-4">
      <div *ngFor="let plant of plants" class="flex flex-col items-center">
        <div class="bg-white shadow-md rounded-lg overflow-hidden w-full max-w-xs">
          <img [src]="plant.image" class="w-full h-48 object-cover" [alt]="plant.name" />
          <div class="p-4">
            <h5 class="text-center text-lg font-semibold">{{ plant.name }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  